//faq style
.faq-container{
    max-width: $maxWidth;
    margin: auto;
    margin-bottom: 2em;
    h1{
        text-align: center;
        font-size: 5em;
        font-family: $headFont1;
        letter-spacing: 0.3em;
        background: linear-gradient($yellow, $green, $purple,$yellow, $green);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 1em;
        @include tablet{
            font-size: 4em;
        }
        @include mobile{
            font-size: 3em;
        }
    }
    .faq-inner{
        width: 100%;
        margin: auto;
        .question{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3em;
            background-color: $green;
            font-family: $textFont;
            padding: 3%;
            box-shadow: inset 0 0 3px $black;
            cursor: pointer;
            span{
                font-size: 1.5em;
                transition: transform 0.5s;
            }
            @include tablet{
                font-size: 0.9em;
                height: 4em;
            }
            @include mobile{
                height: 5em;
            }
        }
        .answer{
            background-color: $secondaryGrey;
            font-size: 1.5em;
            font-family: $textFont;
            overflow-y: auto;
            transition: 0.5s;
            height: 0;
            @include tablet{
                font-size: 1.3em;
            }
        }
        .opened{
            height: auto;
            padding: 3%;
            @include mobile{
                padding: 5%;
            }
        }
    }
}